#u88-4
{
	font-family: open-sans-n6, sans-serif;
}

#u98-6,#u129-4
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu100.frm-subm-err-st #u105-5 p,#u105-5
{
	font-family: open-sans-n4, sans-serif;
}

#u98-2,#u120-4
{
	font-family: open-sans-n6, sans-serif;
}

#u121-3
{
	font-family: open-sans-n4, sans-serif;
}

#u125-4
{
	font-family: open-sans-n6, sans-serif;
}

#u126-3
{
	font-family: open-sans-n4, sans-serif;
}

#widgetu119_input,#widgetu123_input
{
	font-family: open-sans, sans-serif;
}

